
img {
    width: 300px;
    height: 300px;
    margin-top: 10px;
}

.container {
  margin-top: 5%;
  width: 80%;
  background-color: #4E5D6C;
  padding: 50px;
}

.col-md-5 {
    align-content: center;
    text-align: center;
}

button {
    margin-left: 20px;
}

hr {
    border-color: grey;
}