<div class="jumbotron">
  <h1> Flickr Image Saver </h1>
  <p class="lead"> Ever wanted to make a private collection of Flickr, but the website is way too complex? This website allows you to directly
    image search on the Flickr Database, easily save them, and utilise them for personal use!
  </p>
  <div class="buttons-align-center">
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>


  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Webapps-project</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="col-sm">
      <h3>Made with Angular-cli</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="col-sm">
      <h3>Pieter Van Der Helst &#8482;</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
  </div>
</div>
