img {
  max-width: 1000px;
  max-height: 800px;
}

.container {
  margin-top: 5%;
  width: 80%;
  background-color: #4E5D6C;
  align-content: center;
  text-align: center;
  padding: 50px;
  display: block;
}

.link {
  color: #DF691A;
  text-decoration: none;
  text-align: start;
  background-color: transparent;
}

.link:hover {
  color: #9a4912;
  text-decoration: underline;
  cursor: pointer;
}

hr {
  border-color: #4E5D6C;
}

span button {
  margin-right: 10px;
}
