.container {
    text-align: center;
    align-content: center;
    padding: 20px;
}

.col-sm-4 {
    margin-top: 10%;
}

.col-sm-4:hover {
    transform: scale(1.1);
}

h2 {
    margin-top: 50px;
}

img {
    margin-top: 30px;   
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border-color: #4E5D6C;
}