<div class="container">
  <h2> Please select your first action </h2>
  <hr/>
  <div class="row">
    <div class="col-sm-4"  (click)="goToFlickr()">
      <div class="card">
        <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Flickr-icon.png">
        <div class="container">
          <h4>
            <b>Add Image by Flickr</b>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4"  (click)="goToAddImage()">
      <div class="card">
        <img src="https://cdn4.iconfinder.com/data/icons/color-webshop/512/internet_web_simple_world-512.png">
        <div class="container">
          <h4>
            <b>Add image by URL</b>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4" (click)="goToMyImages()">
      <div class="card">
        <img src="https://lh3.googleusercontent.com/7rADIIAXkEedoq9sf6SO4ZiBXkpu-XQCJBxratH4Ij4D1LxH4NbvcdRPLmjdsxfG662h">
        <div class="container">
          <h4>
            <b> My images</b>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
