<div class="container">
  <h2> Please select your first action </h2>
  <hr/>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="https://png.icons8.com/metro/1600/settings.png">
        <div class="container">
          <h4>
            <b>Settings</b>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="https://png.icons8.com/metro/1600/plus.png">
        <div class="container">
          <h4>
            <b>Add a new image</b>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="https://cdn2.iconfinder.com/data/icons/picons-essentials/71/gallery-512.png">
        <div class="container">
          <h4>
            <b>Gallery</b>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
